//Шрифты
@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Trebuchet MS'), local('TrebuchetMS'),
      url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TrebuchetMS.woff') format('woff'),
      url('../fonts/TrebuchetMS.ttf') format('truetype');
}

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Trebuchet MS'), local('TrebuchetMS'),
  url('../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrebuchetMS-Bold.woff') format('woff'),
  url('../fonts/TrebuchetMS-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Exo";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
}
