//Media запросы
$mobile-medium-width: 320px;
$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1226px;

//Типографика
$baseFontSize: 16px;
$largeFontSize: 48px;
$h2baseFontSize: 36px;

//Оформление;
$color-base: #666666;
$black: #000000;
$blue: #1698d9;
$blueHover: #2ea8e6;
$white: #ffffff;
$white-two: #f2f2f2;
$gray: #b3b3b3;
$pink: #d91667;
$pinkHover: #e62e7a;
$yellow: #ffff66;
